* {
	box-sizing: border-box;
}

html,
body,
#root {
	min-height: 100%;
}

body {
	margin: 0;
	background: var(--color-bg);
	color: var(--color-text);
	font-family: var(--font-main);
	line-height: 1.5;
}

a {
	color: var(--color-primary);
}

p {
	color: var(--color-muted);
}
